<div class="dashboard-content">
    <div class="db-tile">
        <h4 class="text-center">Liste des Contrats Biens</h4>
    </div>
    <div class="row">
        <!-- Item -->
        <div class="col-lg-6 col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="i-Add-User"></i>
                    <div class="py-4">
                        <h2 class="text-primary mb-2">
                            <button (click)="getContratLocations()" class="btn btn-primary">Contrat En Location</button></h2>
                        <!--<p class="text-muted mt-2 mb-0">New Leads</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col-lg-6 col-md-6">
            <div  class="card   mb-4">
                <div  class="card-body text-center">
                    <i  class="i-Add-User"></i>
                    <div  class="py-4">
                        <h2  class="text-primary mb-2">
                            <button (click)="getContratVentes()" class="btn btn-primary">Contrat En Vente</button>
                        </h2>
                        <!--<p  class="text-muted mt-2 mb-0">Total Views</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->

        <!-- Item -->
    </div>

    <div class="col-lg-12 col-md-12 mb-4">
        <div class="card">
            <div class="card-body" *ngIf="consultContrat">
                <div class="d-flex align-items-center">
                    <div class="text-center">
                        <img alt="" class="img-fluid rounded-circle" src="assets/images/thumb-4.jpg" width="90" height="90">
                        <h6 class="mt-2 font-weight-bold">Ethan Moore</h6>
                    </div>
                    <div class="flex-grow-1 px-5">
                        <h4 class="mb-3">Soylent Vency Cafe   <span class="badge badge-pill badge-danger text-uppercase">Pending</span></h4>
                        <div class="mb-4">
                            <div class="detail-list mb-2">
                                <div class="detail-list-label mb-1">
                                    <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>  <small class="text-uppercase font-weight-bold">Address</small>
                                </div>
                                <p class="m-0 text-small text-muted">9986 Bear Hill Dr. Mocksville, NC 27028.</p>
                            </div>
                            <div class="detail-list mb-2">
                                <div class="detail-list-label mb-1">
                                    <i class="fa fa-calendar mr-2" aria-hidden="true"></i>  <small class="text-uppercase font-weight-bold">Booking Date</small>
                                </div>
                                <p class="m-0 text-small text-muted">20.08.2019 </p>
                            </div>
                            <div class="detail-list mb-2">
                                <div class="detail-list-label mb-1">
                                    <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>   <small class="text-uppercase font-weight-bold">Booking Details</small>
                                </div>
                                <p class="m-0 text-small text-muted">4 Tickets(Economy)</p>
                            </div>
                            <div class="detail-list mb-2">
                                <div class="detail-list-label mb-1">
                                    <i class="fa fa-phone mr-2" aria-hidden="true"></i> <small class="text-uppercase font-weight-bold">Contact No.</small>
                                </div>
                                <p class="m-0 text-small text-muted">+123 123 456 45</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="detail-list mb-4 text-center">
                            <div class="detail-list-label mb-1">
                                <h5 class="">Price</h5>
                            </div>
                            <h4 class="m-0 text-small text-muted">$459</h4>
                        </div>
                        <button class="btn btn-1 btn-primary" type="button">Approve</button>
                        <button class="btn btn-1 btn-danger" type="button">Reject</button>
                    </div>
                </div>
            </div>
            <div class="dashboard-list-box table-responsive invoices with-icons">
                <table class="table table-hover" *ngIf="tabVar">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Date de debut</th>
                        <th>Date de fin</th>
                        <th>Status (Approuve/en Traittement)</th>
                        <th>Bien</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody *ngIf="contratLocationVar">
                    <tr *ngFor="let contrat of contratLocations._embedded.contratClientBiens">
                        <td>{{contrat.id}}</td>
                        <td>{{contrat.type}}</td>
                        <td>{{contrat.dateDebut | date : fullDate}}</td>
                        <td>{{contrat.dateFin | date : fullDate}}</td>
                        <td *ngIf="contrat.estRetenue!=null"><span class="badge badge-pill badge-primary text-uppercase text-center">Approuve</span></td>
                        <td *ngIf="contrat.estRetenue==null" style="text-align: center;"><span class="badge badge-pill badge-warning text-uppercase">En cours de traittement</span></td>
                        <!--<td><img class="img-fluid rounded-circle shadow-lg text-center" width="20px" height="20px" alt=""></td>--><!--[src]="this.appartementService.getGlobalResource().host+'/app/photoProduit1/'+bien.id"-->
                        <td>
                            <button class="btn btn-sm btn-btn-success text-center" type="button" (click)="consulteContrat(contrat.id)">Consulter</button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger text-center" type="button" (click)="consulterPaiement(contrat.id)">Paiements List</button>
                        </td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="contratVenteVar">
                    <tr *ngFor="let contrat of contratVentes._embedded.contratClientBiens">
                        <td>{{contrat.id}}</td>
                        <td>{{contrat.type}}</td>
                        <td>{{contrat.dateDebut | date : fullDate}}</td>
                        <td>{{contrat.dateFin | date : fullDate}}</td>
                        <td *ngIf="contrat.estRetenue!=null"><span class="badge badge-pill badge-primary text-uppercase text-center">Approuve</span></td>
                        <td *ngIf="contrat.estRetenue==null" style="text-align: center;"><span class="badge badge-pill badge-warning text-uppercase">En cours de traittement</span></td>
                        <!--<td><img class="img-fluid rounded-circle shadow-lg text-center" width="20px" height="20px" alt=""></td>--><!--[src]="this.appartementService.getGlobalResource().host+'/app/photoProduit1/'+bien.id"-->
                        <td>
                            <button class="btn btn-sm btn-btn-success text-center" type="button" (click)="consulteContrat(contrat.id)">Consulter</button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger text-center" type="button" (click)="consulterPaiement(contrat.id)">Paiements List</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
